* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Font families */
.poppins-light {
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-weight: 700;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ffeedd;
}
#main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  height: 100vh;
  width: 80vw;
  background-color: #f8f7ff;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

fieldset {
  padding: 20px;
  border-color: #b8b8ff;
  margin: 15px 0;
}

legend {
  text-align: center;
}

input[type="radio"] {
  accent-color: #b8b8ff;
}

button {
  padding: 10px 20px;
  margin: 0 auto;
  border-color: #b8b8ff;
  background: linear-gradient(0.25turn, #b8b8ff, #f8f7ff, #ffeedd);
}

.output-paragraph {
  color: #b8b8ff;
  text-align: center;
  font-size: 1.6rem;
}

.affirmasjon-text {
  font-size: 2.5rem;
  text-align: center;
  color: #9381ff;
  animation: scaleText 1s linear;
  text-shadow: 1px 1px 5px black, /* Bottom-right shadow */ -1px 1px 0 black,
    /* Bottom-left shadow */ 1px -1px 3px black,
    /* Top-right shadow */ -1px -1px 3px black; /* Top-left shadow */
}

@keyframes scaleText {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
label {
  text-align: center;
}
form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.show-again-button {
  position: fixed;
  bottom: 25px;
  right: 260px;
}
.reset-button {
  position: fixed;
  bottom: 25px;
  right: 170px;
}
#outputContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .show-again-button {
    bottom: 25px;
    right: 50%;
  }

  .reset-button {
    bottom: 25px;
    right: 33%;
  }

  .output-paragraph {
    font-size: 1.4rem;
  }

  .affirmasjon-text {
    font-size: 2rem;
  }
}
