* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font families */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ffeedd;
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  height: 100vh;
  width: 80vw;
  background-color: #f8f7ff;
}

h2 {
  text-align: center;
}

fieldset {
  padding: 20px;
  border-color: #b8b8ff;
}

legend {
  text-align: center;
}

input[type="radio"] {
  accent-color: #b8b8ff;
}

button {
  padding: 10px 20px;
  margin: 0 auto;
  border-color: #b8b8ff;
  background: linear-gradient(0.25turn, #b8b8ff, #f8f7ff, #ffeedd);
}

.output-paragraph {
  color: #b8b8ff;
  text-align: center;
}

.affirmasjon-text {
  font-size: 2rem;
  text-align: center;
  color: #9381ff;
  animation: scaleText 1s linear;
}

@keyframes scaleText {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
label {
  text-align: center;
}
form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.reset-button {
  position: fixed;
  bottom: 5%;
  right: 15%;
}
